*{
    box-sizing: border-box;
}

:root{
    --color-verde: #5BE05D;
    --color-amarillo: #EEFB03;
}

html,
body,
h2,
h3,
h4,
h5,
p,
ul,
a,
li {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: black;
}

.navbar-brand > img {
    height: 45px;
}

.section-home {
    padding-top: 150px;
}

.col-home__div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-presentacion {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 50px;
}

.home-presentacion__h2 {
    font-size: 40px;
    color: white;
}

.home-presentacion__h3 {
    font-size: 40px;
    color: var(--color-verde);
}

.home-presentacion__h4 {
    font-size: 20px;
    color: white;
}

.home-perfil {
    padding-top: 90px;
}

.home-perfil > img {
    width: 350px;
    border-radius: 50%;
}

.section-sobre-mi {
    padding-top: 150px;
}

.sobre-mi__img {
    display: none;
}

.content-info-sobre {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.titulo-sobre__h3 {
    font-size: 40px;
    color: white;
}

.info-sobre__div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

.info-sobre__h4 {
    font-size: 28px;
    color: rgb(228, 223, 223);
}

.info-sobre__h5 {
    color: rgb(228, 223, 223);
}

.info-sobre__p {
    padding-top: 20px;
    color: rgb(228, 223, 223);
}

.botones-sobre__div {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.botones-sobre__div > a > img {
    width: 40px;
}

.btn {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--color-amarillo);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--color-amarillo);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--color-amarillo);
}

.btn:hover {
    color: black;
    box-shadow: inset 0 -100px 0 0 var(--color-amarillo);
}

.btn:active {
    transform: scale(0.9);
}

.section-skills {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-skills__div {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 10px;
    padding: 25px;
}

.titulo-skills {
    font-size: 40px;
    color: white;
}

.items-lista-skills {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-lista-skills > p {
    color: white;
    padding-top: 40px;
    font-size: 20px;
}

.img-skills {
    padding-top: 40px;
}

.img-skills > img{
    height: 100px;
}

.section-proyectos {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-proyectos__h3 {
    font-size: 40px;
    color: white;
    padding-bottom: 90px;
}

.col-proyectos__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.proyectos-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 25px;
    border-bottom: 2px solid #7e7e7e;
}

.info-proyecto {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.proyectos__ul {
    padding-left: 20px;
}

.nombre-proyecto {
    color: white;
    font-size: 25px;
}

.list-proyecto {
    color: white;
}

.btn-proyecto {
    margin: 5px;
    padding: 13px 22px;
}


.section-contacto {
    padding-top: 130px;
}

.row-contacto__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.titulo-contacto {
    color: white;
    font-size: 40px;
}

.col-contacto__div {
    display: flex;
    flex-direction: column;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto__p {
    color: white;
    padding: 5px 30px;
}  

.lista-contacto__ul {
    display: flex;
    flex-direction: column;
    padding: 20px 70px;
}

.lista-contacto__li {
    color: white;
    list-style: none;
    margin: 2px;
}

.contacto-form {
    padding: 10px 50px;
}

.contacto-form__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer {
    padding: 20px;
}

.footer__div {
    border-top: 2px solid #7e7e7e;
}

.lista-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding-top: 20px;
    color: white;
    font-size: 12px;
}

.lista-footer__li > img {
    width: 50px;
}

.btn-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #EEFB03;
    color: black;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 15px;
    text-decoration: none;
    z-index: 1;
}

/*
.menu {
    height: 65px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-imagen-nav {
    padding-left: 40px;
}

.contenedor-imagen-nav > img{
    width: 43px;
}

.menu_items {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 30px;
    position: fixed;
    width: 100vw;
    height: calc(100% -65px);
    background: #414141;
    top: -100vw;
    text-align: center;
    transition: all .4s;
}

.nav-list {
    border-radius: 3px;
    margin: 30  0 0 0;
    line-height: 30px;
}

.link__a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: white;
    font-weight: bold;
}

.link__a :hover {
    color: #e918e9;
}

/*.nav-list :hover, .active{
    background-color: var(--color-verde);
    transition: .6s;
}*/
/*
.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

ul.show {
    top: 65px;
}

@media screen and (max-width: 850px) and (orientation: landscape) {
    .nav-list {
        margin: 5px 0 0 0;
    }
    .menu_items {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}


/*
.contenedor-nav {
    background-color: black;
    height: 65px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    /*border-bottom: 1px solid white;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.contenedor-imagen-nav {
    padding-left: 20px;
}

.contenedor-imagen-nav > img{
    width: 43px;
}

.navegador__ul {
    display: flex;
    list-style: none;
    margin-right: 50px;
    top: 65px;
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: #414141;
    top: -150vw;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
}

.nav-list {
    border-radius: 3px;
    margin: 30px 0 0 0;
    line-height: 30px;
}

.link__a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 20px;
    /*display block: para que los link ocupen todo el espacio disponible*/
   /* display: block;
    color: white;
    font-weight: bold;
}

.link__a :hover {
    color: var(--color-verde);
}

/*
.nav-list :hover, .active {
    background-color: var(--color-verde);
    transition: .4s;
}*/
/*
.btn-menu {
    margin-right: 30px;
    font-size: 27px;
    color: white;
    cursor: pointer;
}

ul.show {
    top: 65px;
}

@media screen and (max-width: 850px) and (orientation: landscape) {
    .nav-list {
        margin: 5px 0 0 0;
    }
    .navegador__ul {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}


/*
.link__a{
    text-decoration: none;
    color: white;
}

.contenedor-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: black;
    position: sticky;
    top: 0;
}

.contenedor-imagen-nav {
    width: 50%;
}

.contenedor-imagen-nav > img {
    width: 10%;
}


.navegador__ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-list {
    list-style: none;
}

.section-home {
    padding-bottom: 200px;
}

.col-home__div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 105px;
}

.home-presentacion {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-presentacion__h2 {
    font-size: 50px;
    color: white;
}

.home-presentacion__h3 {
    font-size: 50px;
    color: var(--color-verde);
}

.home-presentacion__h4 {
    font-size: 22px;
    color: white;
}

.home-perfil{
    padding-right: 50px;
}

.home-perfil > img {
    border-radius: 30%;
}

.border {
    border: 0;
    border-top: 0.1px solid #999; 
    border-bottom: 0.1px solid #333;
    height: 0;
    width: 1010px;
}
*/