*{
    box-sizing: border-box;
}

:root{
    --color-verde: #5BE05D;
    --color-amarillo: #EEFB03;
}

html,
body,
h2,
h3,
h4,
h5,
p,
ul,
a,
li {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: black;
}

.navbar-brand > img {
    height: 45px;
}

.section-home {
    padding-top: 150px;
}

.col-home__div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-presentacion {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 50px;
}

.home-presentacion__h2 {
    font-size: 40px;
    color: white;
}

.home-presentacion__h3 {
    font-size: 40px;
    color: var(--color-verde);
}

.home-presentacion__h4 {
    font-size: 20px;
    color: white;
}

.home-perfil {
    padding-top: 90px;
}

.home-perfil > img {
    width: 400px;
    border-radius: 50%;
}

.section-sobre-mi {
    padding-top: 150px;
}

.sobre-mi__img {
    display: none;
}

.content-info-sobre {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.titulo-sobre__h3 {
    font-size: 40px;
    color: white;
}

.info-sobre__div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

.info-sobre__h4 {
    font-size: 28px;
    color: rgb(228, 223, 223);
}

.info-sobre__h5 {
    color: rgb(228, 223, 223);
}

.info-sobre__p {
    padding-top: 20px;
    color: rgb(228, 223, 223);
}

.botones-sobre__div {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.botones-sobre__div > a > img {
    width: 40px;
}

.btn {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--color-amarillo);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--color-amarillo);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--color-amarillo);
}

.btn:hover {
    color: black;
    box-shadow: inset 0 -100px 0 0 var(--color-amarillo);
}

.btn:active {
    transform: scale(0.9);
}

.section-skills {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-skills__div {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 10px;
    padding: 25px;
}

.titulo-skills {
    font-size: 40px;
    color: white;
}

.items-lista-skills {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-lista-skills > p {
    color: white;
    padding-top: 40px;
    font-size: 20px;
}

.img-skills {
    padding-top: 40px;
}

.img-skills > img{
    height: 100px;
}

.section-proyectos {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-proyectos__h3 {
    font-size: 40px;
    color: white;
    padding-bottom: 90px;
}

.col-proyectos__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.proyectos-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 25px;
    border-bottom: 2px solid #7e7e7e;
}

.info-proyecto {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.proyectos__ul {
    padding-left: 20px;
}

.nombre-proyecto {
    color: white;
    font-size: 25px;
}

.list-proyecto {
    color: white;
}

.btn-proyecto {
    margin: 5px;
    padding: 13px 22px;
}


.section-contacto {
    padding-top: 130px;
}

.row-contacto__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.titulo-contacto {
    color: white;
    font-size: 40px;
}

.col-contacto__div {
    display: flex;
    flex-direction: column;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto__p {
    color: white;
    padding: 5px 30px;
}  

.lista-contacto__ul {
    display: flex;
    flex-direction: column;
    padding: 20px 70px;
}

.lista-contacto__li {
    color: white;
    list-style: none;
    margin: 2px;
}

.contacto-form {
    padding: 10px 50px;
}

.contacto-form__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer {
    padding: 20px;
}

.footer__div {
    border-top: 2px solid #7e7e7e;
}

.lista-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding-top: 20px;
    color: white;
    font-size: 12px;
}

.lista-footer__li > img {
    width: 50px;
}

.btn-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #EEFB03;
    color: black;
    padding: 15px 17px;
    border-radius: 50px;
    font-size: 15px;
    text-decoration: none;
    z-index: 1;
}

.btn-flotante > img {
    width: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .row-skills__div {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .section-home {
        padding-top: 70px;
    }

    .col-home__div {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
    }

    .home-presentacion {
        padding-right: 140px;
    }

    .home-presentacion__h2 {
        font-size: 57px;
    }

    .home-presentacion__h3 {
        font-size: 57px;
    }

    .home-presentacion__h4 {
        font-size: 30px;
    }

    .home-perfil {
        padding-top: 90px;
    }

    .home-perfil > img {
        width: 400px;
        border-radius: 50%;
    }

    .sobre-mi__img {
        display: block;
        padding-left: 5%;
    }

    .col-sobre__div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .content-info-sobre{
        padding-left: 10%;
        padding-right: 5%;
    }

    .info-sobre__div {
        padding-top: 70px;
    }

    .sobre-mi__img > img {
        width: 550px;
    }

    .section-skills {
        padding: 150px;
    }

    .row-contacto__div {
        gap: 70px;
        padding: 5px;
    }

    .col-contacto__div {
        flex-direction: row;
    }

    .contacto-info {
        justify-content: start;
        gap: 70px;
        padding-left: 1%;
    }

    .contacto__p {
        padding: 0;
    }

    .lista-contacto__ul {
        padding: 0;
    }

    .contacto-form {
        padding: 0;
    }
}

